/*General styling*/

*, *::after, *::before {
    box-sizing: border-box;
}

/*Main styling*/

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*The game board*/

.board {
    width: 100vw;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white ;
    border: black 2px solid;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Taking away border around grid*/

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top:none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

/*Restart*/

#restart {
    width: 200px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}

.reset{
    padding: 10px 0px;
}

/*Scores*/

.scores-x, .scores-y {
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
}

.scores-x {
    color: red;
    text-shadow:
        -.5px -.5px 0 #000,
        .5px -.5px 0 #000,
        -.5px .5px 0 #000,
        .5px .5px 0 #000;
}

.scores-y {
    color: blue;
    text-shadow:
        -.5px -.5px 0 #000,
        .5px -.5px 0 #000,
        -.5px .5px 0 #000,
        .5px .5px 0 #000;
}

/*Circle Styling*/

.circle::before,
.circle::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform-origin: center;
    border: solid 1px black;
}

.circle::before {
    width: 80px;
    height: 80px;
    background-color: blue;
}

.circle::after {
    width: 60px;
    height: 60px;
    background-color: white;
}

/*X Styling*/

.x {
    width: 100px;
    height: 100px;
    position: relative;
    
}

.x::before,
.x::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: red;
    transform-origin: center;
    border: solid 1px black;
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}