*, *::after, *::before {
    box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.board {
    width: 100vw;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white ;
    border: black 2px solid;
}

#restart {
    width: 200px;
    height: 50px;
    font-size: 18px;
}

.winning-message, .score-area {
    padding: 10px 0px;
}